.app_green_theme {
    --bg-color: #F4FBF6;
    --inverted-bg-color:  #2B683C;
    --primary-color: #2B683C;
    --secondary-color: #F4FBF6;
    --inverted-primary-color: #F4FBF6;
    --inverted-secondary-color: #0452ff;
}